body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: windowWidth;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

#upper {
  display: flex;
}

#p1 {
  flex: 1;
}

#p2 {
  margin-right: windowWidth/2
}

#lower {
  display: flex;
}

#p3 {
  flex: 1;
}

#p4 {
  margin-right: windowWidth/2
}
